## Built in methode always take in arguments

In [11]:
x = -10
print(abs(x))

10

In [3]:
# If all are true then returns true
l = [True, True]
print(all(l))

True

In [5]:
# if any is true return true
ll = [True, False]
print(any(ll))

True

In [9]:
#Returns a readable version of an object. Replaces none-ascii characters with escape character
print(ascii('65'))

'65'

In [10]:
#Returns the binary version of a number
print(bin(2))

0b10

In [14]:
#Retuens a dictionary
x = dict(name = "John", age = 36, country = "Norway")
print(x)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [16]:
#Filter Use a filter function to exclude items in an iterable object
# Takes 2 para, function and. aiterable then only selects the elements in the iterable that satisfy the function

ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

18
24
32

In [17]:
#Map takes 2 para function and iterable, takes each iterable and applies the function to the iterable
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    print(x)
  

map(myFunc, ages)

In [18]:
# max(x), min(x), pow(x,y), len(x), list(x), next(x)

In [61]:
l = [2,3,1,3,4,2]
a = sorted(l)
a

[1, 2, 2, 3, 3, 4]

# Built in list methods go like list.method()

In [66]:
a = "anubHAV"
aa = a.upper()
aa

'ANUBHAV'

In [68]:
b = a.lower()
b

'anubhav'

In [29]:
print(a.capitalize())

Anubhav

In [34]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [35]:
txt = "My name is StÃ¥le"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [36]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [37]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [38]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [39]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [40]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [41]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [69]:
txt = "     banana     "

txt.strip()

print("of all fruits", x, "is my favorite")

'     banana     '

In [44]:
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

15

# LIST METHIODE

In [46]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
fruits

['apple', 'banana', 'cherry', 'orange']

In [47]:
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

In [48]:
fruits

[]

In [50]:
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
x

['apple', 'banana', 'cherry', 'orange']

In [52]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
x

1

In [53]:
#Insert pop remove reverse

In [57]:
l = [2,2,3,2,444]
l.sort()
l

[2, 2, 2, 3, 444]